In [25]:
a=['a','b','c']
b=['a','b','c']
b == a
# order matters as well as values for lists to be equal

True

In [5]:
# list can store classes, functions, modules, classes
import math
c=[math,'a']

In [9]:
# lists can be accessed by indexing
# they start from zero and go from there, also negative indexing is possible, and it starts from -1 as the last element
print(a[2])
a[-2]

c

'b'

In [19]:
# lists can also be sliced, position to start from and position to end at +1 as last index is not printed
# slicing is reversed in negative index
# no starting value means it will start from the beginning [:4]
# no ending index means till end or give size of list len(name of list)
print(a[1:3])
print(a[-3:-1])
print(b[:3])
print(b[1:len(b)])

['b', 'c']
['a', 'b']
['a', 'b', 'c']
['b', 'c']

In [ ]:
# lists can also be added(concatinate)
# lists can be concatinated only with other lists
b[:1]+b[1:]

['a', 'b', 'c']

In [21]:
# checking equality of lists
b[:1]+b[1:]==b

True

In [23]:
# if we add another colon the third index is stepping size
print(a[::2])
# lists can be printed in reverse
print(b[::-1])

['a', 'c']
['c', 'b', 'a']

In [ ]:
# in list : works for no. of characters
string = 'how is life'
string[:]
# list returns a copy object hence a is b is false
# string indexing returns the same object

'how is life'

In [29]:
# checking if itmes present in list or not
'a ' in a
# space bar counts as a character and changes truth to false

False

In [30]:
# * operater replicates the list with itself (self concatination)
print(a*2)

['a', 'b', 'c', 'a', 'b', 'c']

In [31]:
# max and min functions, based on number weight and character in dictionary
print(min(a))
print(max(a))

a
c

In [33]:
# instead of giving name of list, you can give whole list/ string before index or operation
print(['d','e','f']*2)
['d','e','f'][-1]

['d', 'e', 'f', 'd', 'e', 'f']

'f'

In [47]:
# lists can be nested, then both indexes need to be given for accessing, going in index one at a time
c=[1,2,[3,4,5],6]
c[2][2]
# remaining rules of slicing indexing and everything else apply the same way

5

In [ ]:
# lists are muteable
# tuples are immutable
# strings are muteable

In [ ]:
# del to delete itme in a list
# you can also delete by slicing
del c[2]
c[2]

6

In [ ]:
# you can replace items in a list, even other lists, at the index which you give
c[1]=5
c

[1, 5, 6]

In [52]:
# if you want elment to be appended as it is, you append list otherwise if you want to to be appended piece by piece, you append it without brackets
c+='apple'
c

[1, 5, 6, 'a', 'p', 'p', 'l', 'e']

In [ ]:
# built in functions are accessed by . operator and general library functions are accessed by ()
x=c.append(1)
print(c)
# append adds at end
# this changes list inplace, it returns nothing, hence none
print(x)
# in append function, if list is given, it is appended as a list leading to nesting unlike concatination

[1, 5, 6, 'a', 'p', 'p', 'l', 'e', 1, 1]
None

In [57]:
# extend if given list adds and doesnt appends list
c.extend([10])
c

[1, 5, 6, 'a', 'p', 'p', 'l', 'e', 1, 1, 10, 11, 12, 10, 11, 12, 10]

In [58]:
# pop removes value at index
c.pop(2)
c

[1, 5, 'a', 'p', 'p', 'l', 'e', 1, 1, 10, 11, 12, 10, 11, 12, 10]

In [ ]:
# tuples have mostly the same thing but one major different thing is packing and unpacking
# unpacking
t=(1,2,3,4,5,6,7,8,9)
(a,b,c,d,e,f,g,h,i)=t
a
# packing is making a tuple of variables

1

In [ ]:
# dictionary is very efficient at running time, it uses key value pairs
# it is unordered, unindexed and muteable
# it is faster than lists for searching
# key must also be unique
# key doesn't need to be given in quotes
d={'name':'hassan','age':20,'course':'AI'}
d

{'name': 'hassan', 'age': 20, 'course': 'AI'}

In [65]:
# dictionary can also be made from dict function
d=dict(name='hassan',age=29,course='AI')
d

{'name': 'hassan', 'age': 29, 'course': 'AI'}

In [66]:
# dictionary can be accessed by key, not by index
d['name']

'hassan'

In [67]:
# to add new key value pair
d['semester']=2
d

{'name': 'hassan', 'age': 29, 'course': 'AI', 'semester': 2}

In [68]:
# to update value of key
d['age']=20
d

{'name': 'hassan', 'age': 20, 'course': 'AI', 'semester': 2}

In [ ]:
# dictionary or list cannot be used as key, because they are mutable
# tuples can be used as key because they are immutable

In [ ]:
# keys can be checked by in operator
'age' in d

True

In [71]:
# get returns value against key
d.get('name')
# it returns none if key not found, unlike d[] which gives error

'hassan'

In [ ]:
# itmes prints all key value pairs as tuples in a list
print(d.items())
# this can be converted to a list of tuples
list(d.items())

[('name', 'hassan'), ('age', 20), ('course', 'AI'), ('semester', 2)]

In [ ]:
# keys can be extracted by keys() function
d.keys()

dict_keys(['name', 'age', 'course', 'semester'])

In [75]:
# values can be extracted by values() function
d.values()

dict_values(['hassan', 20, 'AI', 2])

In [ ]:
# pop removes key value pair based on key and returns value of the key
d.pop('age')

20

In [77]:
# popitms removes last key value pair and returns it as a tuple
d.popitem()

('semester', 2)

In [69]:
# dictionaries cannot be nested directly, but can be nested by making value another dictionary
d2={'name':'ali','age':21,'course':'DS'}
d3={'student1':d,'student2':d2}
d3['student2']['course']

'DS'

In [ ]:
#sets do not have repetition of values
# they are unordered, unindexed and muteable
# set cannot have list or dictionary as they are mutable, but can have tuples as they are
# set items cannot be accessed by indexing as they are unordered
# set cannot be accessed by slicing as they are unordered
s = {10, 50, 20}
print(s)
print(type(s))

{10, 50, 20}
<class 'set'>

In [2]:
# Adding element to the set
s.add("d")
print(s)

{10, 50, 20, 'd'}

In [3]:
# set can store heterogeneous elements
s = {"Geeks", "for", 10, 52.7, True}
print(s)

{'Geeks', True, 52.7, 'for', 10}

In [4]:
# between normal and frozen set

# Same as {"a", "b","c"}
s = set(["a", "b","c"])

print("Normal Set")
print(s)

# A frozen set
fs = frozenset(["e", "f", "g"])

print("\nFrozen Set")
print(fs)

# Uncommenting below line would cause error as
# we are trying to add element to a frozen set
fs.add("h")

Normal Set
{'c', 'b', 'a'}

Frozen Set
frozenset({'g', 'f', 'e'})

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
# Union of two sets

people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}

# Union using union()
# function
population = people.union(vampires)

print("Union using union() function")
print(population)

# Union using "|"
# operator
population = people|dracula

print("\nUnion using '|' operator")
print(population)

Union using union() function
{'Karan', 'Archil', 'Idrish', 'Arjun', 'Jay'}

Union using '|' operator
{'Archil', 'Idrish', 'Deepanshu', 'Raju', 'Jay'}

In [7]:
# Intersection of two sets

set1 = set()
set2 = set()

for i in range(5):
    set1.add(i)

for i in range(3,9):
    set2.add(i)

# Intersection using
# intersection() function
set3 = set1.intersection(set2)

print("Intersection using intersection() function")
print(set3)

# Intersection using
# "&" operator
set3 = set1 & set2

print("\nIntersection using '&' operator")
print(set3)

Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

In [8]:
# Difference of two sets

set1 = set()
set2 = set()

for i in range(5):
    set1.add(i)

for i in range(3,9):
    set2.add(i)

# Difference of two sets
# using difference() function
set3 = set1.difference(set2)

print(" Difference of two sets using difference() function")
print(set3)

# Difference of two sets
# using '-' operator
set3 = set1 - set2

print("\nDifference of two sets using '-' operator")
print(set3)

 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}

In [9]:
# clearing a set

set1 = {1,2,3,4,5,6}

print("Initial set")
print(set1)

# This method will remove
# all the elements of the set
set1.clear()

print("\nSet after using clear() function")
print(set1)

Initial set
{1, 2, 3, 4, 5, 6}

Set after using clear() function
set()

In [ ]:
''' Operators	Notes
key in s	containment check
key not in s	non-containment check
s1 == s2	s1 is equivalent to s2
s1 != s2	s1 is not equivalent to s2
s1 <= s2	s1 is subset of s2
s1 < s2	s1 is proper subset of s2
s1 >= s2	s1 is superset of s2
s1 > s2	s1 is proper superset of s2
s1 | s2	the union of s1 and s2
s1 & s2	the intersection of s1 and s2
s1 - s2	the set of elements in s1 but not s2
s1 ˆ s2	the set of elements in precisely one of s1 or s2 '''